@using _0_Framework.Application
@model List<KamionLandQuery.Contracts.SlideTrucks.SlideTrucksQueryViewModel>
@{
}
@if (Model != null)
{
    
        @foreach (var slideTruck in Model)
        {
            <div class="intro-slide"
                 style="background-image: url(/Pictures/@slideTruck.Picture); background-color: #2a323e;">
                <div class="intro-content intro-content-left">
                    <h6 class="font-weight-normal text-primary my-2 mt-0">@slideTruck.Titel</h6>
                    <h3 class="intro-title font-weight-bold text-white mb-0">
                      @slideTruck.Text<br>@slideTruck.Heading
                    </h3>
                    <h3 class="intro-desc mb-2 font-weight-light text-secondary">تا 30% تخفیف</h3>
                    <a href="@slideTruck.Link" class="btn btn-primary text-uppercase">@slideTruck.BtnText</a>
                </div>
            </div>
        }
       
   

}