@page
@using _0_Framework.Application
@using InventoryManegment.Configuration.Permissions
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ServiceHost.Areas.Admin.Pages.Inventory.IndexModel
@{
}

@{
    Layout = "Shared/_AdminLayout";
    ViewData["title"] = "مدیریت انبار";
}
<div id="page-content">
    <div class="row">
        <div class="col-sm-12">
            <div class="breadcrumb-box shadow">
                <ul class="breadcrumb">
                    <li><a href="/Admin/Dashboard">پیشخوان</a></li>
                    <li><a href="#" class="active">انبار </a></li>

                </ul>
                <div class="breadcrumb-left">
                    @DateTime.Now.ToFarsiFull()
                    <i class="icon-calendar"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="row" permission-tag="@InventoryPermissions.SearchInventory">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">جستجو در انبار</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form  role="form" method="get">
                                <div class="">
                                    <label class="sr-only" asp-for="SearchModel.productId"></label>
                                    <select class="form-control" asp-for="SearchModel.productId" asp-items="Model.Products">
                                        <option value="0">انتخاب محصول ...</option>
                                    </select>
                                </div>
                                <div class=" m-r-10 ">
                                    <div class="checkbox checkbox-primary">
                                        <input asp-for="SearchModel.IsStock">
                                        <label asp-for="SearchModel.IsStock">
                                            جستجو در ناموجودها
                                        </label>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-success waves-effect waves-light m-l-10">جستجو</button>
                                <a class="btn btn-primary waves-effect waves-light m-l-10" asp-page="./Index">مشاهده همه</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" permission-tag="@InventoryPermissions.ListInventory">
        <div class="col-lg-12">
            <div class="portlet box shadow">
                <div class="portlet-heading">
                    <div class="portlet-title">
                        <h3 class="title">
                            <i class="icon-frane"></i>
                            لیست  انبار  (@Model.Inventory.Count)
                        </h3>
                    </div>
                    <div class="buttons-box">
                        <a class="btn btn-sm btn-default btn-round btn-fullscreen" rel="tooltip" title="تمام صفحه" href="#">
                            <i class="icon-size-fullscreen"></i>
                        </a>
                        <a class="btn btn-sm btn-default btn-round btn-collapse" rel="tooltip" title="کوچک کردن" href="#">
                            <i class="icon-arrow-up"></i>
                        </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-lg-3 col-6">
                            <div class="stat-box use-blue shadow">
                                <a PermissionTag="@InventoryPermissions.CreateInventory" href="#showmodal=@Url.Page("./Index", "Create")">
                                    <div class="stat">

                                        <div class="h3">افزودن   </div>
                                    </div><!-- /.stat -->
                                    <div class="visual">
                                        <i class="fas fa-plus"></i>
                                    </div><!-- /.visual -->
                                </a>
                            </div><!-- /.stat-box -->
                        </div><!-- /.col-lg-3 -->

                    </div>

                    <div class="table-responsive">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <table class="table table-bordered table-hover table-striped" id="data-table">

                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>محصول</th>
                                            <th>قیمت خرید</th>
                                            <th>قیمت فروش</th>
                                            <th>رنگ</th>
                                            <th>سایز</th>
                                            <th>وزن</th>
                                            <th>موجودی انبار</th>
                                            <th>قیمت کل خرید</th>
                                            <th>قیمت کل فروش</th>
                                            <th>تاریخ ایجاد</th>
                                            <th>عملیات</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.Inventory)
                                        {
                                            <tr>
                                                <td>@item.Id</td>
                                                <td>
                                                    <a class="text-primary" href="~/Product/@item.Slug">
                                                        @item.product
                                                    </a>

                                                </td>
                                                <td> @item.InitialPrice.ToMoney()</td>
                                                <td>@item.UnitPrice.ToMoney()</td>
                                                <td>
                                                    <input type="color" value="@item.Color" class="color" />
                                                </td>
                                                <td>@item.Size</td>
                                                <td>@item.Weight</td>
                                                <td>@item.CurrentCount</td>
                                                <td> @item.TotalInitialPrice.ToMoney()</td>
                                                <td>@item.TotalUnitPrice.ToMoney()</td>
                                                <td>@item.CreationDate</td>
                                                <td>
                                                    <a permission-tag="@InventoryPermissions.EditInventory" class="btn btn-warning waves-effect waves-light m-b-5"
                                                       href="#showmodal=@Url.Page("./Index", "Edit", new { id = item.Id })">
                                                        <i class="fa fa-edit"></i> ویرایش
                                                    </a>
                                                    <a permission-tag="@InventoryPermissions.Increase" class="btn btn-success waves-effect waves-light m-b-5"
                                                       href="#showmodal=@Url.Page("./Index", "Increase", new { id = item.Id })">
                                                        <i class="fa fa-plus"></i> افزایش موجودی
                                                    </a>
                                                    <a permission-tag="@InventoryPermissions.Reduce" class="btn btn-danger waves-effect waves-light m-b-5"
                                                       href="#showmodal=@Url.Page("./Index", "Reduce", new { id = item.Id })">
                                                        <i class="fa fa-minus"></i> کاهش موجودی
                                                    </a>
                                                    <a permission-tag="@InventoryPermissions.OperationLog" class="btn btn-primary waves-effect waves-light m-b-5"
                                                       href="#showmodal=@Url.Page("./Index", "Log", new { id = item.Id })"
                                                       onclick="$('.modal-dialog').css('width', '60%')">
                                                        <i class="fa fa-recycle"></i> مشاهده گردنش انبار
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section AdminScripts {
    <script src="~/Admin/assets/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Admin/assets/datatables/dataTables.bootstrap.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#datatable').dataTable();
        });
    </script>
}